header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
body{
    background-color: darkcyan;
}
.red {
    font-size: 300%;
    color: blueviolet;
}
.container div{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
#hideShow{
    display: flex;
    flex-direction: column;
}
#fade{
    display: flex;
    flex-direction: column;
}
#slide{
    display: flex;
    flex-direction: column;
}
#beforeAfter{
    display: flex;
    flex-direction: column;
}
#attr{
    display: flex;
    flex-direction: column;
}
#html{
    display: flex;
    flex-direction: column;
}
#val{
    display: flex;
    flex-direction: column;
}
#text{
    display: flex;
    flex-direction: column;
}
img {
    width: 100px;
}
button {
    
}
